# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: abeaf548b72c5d7165248905f7d765ec23983e86aedb36efb4cae10d24c7793214d6e9a8c56569867a6cde0cad7482b21c962f0d8c3d8e08eab1f5d4e665907e

test:
  secret_key_base: e90802fbbd83eff69c1d0dcea995a895c65d8009be64a0af835cbb15868f57f2d8c91ff488547768c96730501dd8aa151def8531a5972355306a667a3bde214b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
